<div class="container h-75vh">
    <div class="row">
        <div class="col-md-8 mx-auto mt-5">
            <div class="card pb-3 my-5">
                <div class="card-header">
                    <h4 class="display-4"> Lo sentimos...</h4>
                </div>
                <div class="card-body">
                    <p>
                        <i class="fas fa-exclamation-triangle"></i> Error 404: El recurso al que intenta acceder no ha sido encontrado. 
                        <a routerLink="/">Volver al inicio</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
