<section id="actions" class="py-3 mb-3 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addCustomerModal">
                    <i class="fas fa-plus"></i> Agregar Cliente
                </a>
            </div>
        </div>
    </div>
</section>

<section id="customers">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Saldo Total</h3>
                        <h4 class="display-4">{{ getTotalBalance() | currency: 'USD': '$' }}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-center bg-info text-white mb-3">
                    <div class="card-body">
                        <h3>Número de Clientes</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users"></i> {{ customers?.length }}
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Listado de Clientes</h4>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Saldo</th>
                                    <th>Email</th>
                                    <th>Detalles</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of customers; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ customer.name }} {{ customer.lastname }}</td>
                                    <td>{{ customer.balance | currency: 'USD': '$' }}</td>
                                    <td>{{ customer.email }}</td>
                                    <td>
                                        <a routerLink="/customer/edit/{{ customer.id }}" class="btn btn-secondary">
                                            <i class="far fa-edit"></i> Editar
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="addCustomerModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title">Agregar Cliente</h5>
                <button class="close" data-dismiss="modal" #btnClose>
                    <span>&times;</span>
                </button>
            </div>

            <flash-messages></flash-messages>

            <form  #customerForm="ngForm" (ngSubmit)="addCustomer(customerForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input 
                            type="text" 
                            name="name"
                            class="form-control" 
                            #name="ngModel"
                            [(ngModel)]="customer.name"
                            [ngClass]="{'is-invalid': name.errors && name.touched}"
                            required
                            minlength="2"
                        >
                        <div [hidden]="!name.errors?.required" class="invalid-feedback">Nombre requerido</div>
                        <div [hidden]="!name.errors?.minlength" class="invalid-feedback">Debe contener al menos 2 caracteres</div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Apellido</label>
                        <input 
                            type="text" 
                            name="lastname"
                            class="form-control" 
                            #lastname="ngModel"
                            [(ngModel)]="customer.lastname"
                            [ngClass]="{'is-invalid': lastname.errors && lastname.touched}"
                            required
                            minlength="2"
                        >
                        <div [hidden]="!lastname.errors?.required" class="invalid-feedback">Apellido requerido</div>
                        <div [hidden]="!lastname.errors?.minlength" class="invalid-feedback">Debe contener al menos 2 caracteres</div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input 
                            type="email" 
                            name="email"
                            class="form-control"
                            #email="ngModel"
                            [(ngModel)]="customer.email"
                            [ngClass]="{'is-invalid': email.errors && email.touched}"
                            required
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        >
                        <div [hidden]="!email.errors?.required" class="invalid-feedback">Email requerido</div>
                        <div [hidden]="!email.errors?.pattern" class="invalid-feedback">Email no válido</div>
                    </div>
                    <div class="form-group">
                        <label for="balance">Saldo</label>
                        <input 
                            type="number" 
                            name="balance"
                            class="form-control" 
                            #balance="ngModel"
                            [(ngModel)]="customer.balance"
                            [ngClass]="{'is-invalid': balance.errors && balance.touched}"
                            required
                        >
                        <div [hidden]="!balance.errors?.required" class="invalid-feedback">Saldo requerido</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
