<header id="main-header" class="py-3 bg-info text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1><i class="fas fa-user"></i> Iniciar sesión</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <flash-messages></flash-messages>
        </div>

        <section class="col-12 my-3">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <h4>Inicia sesión</h4>
                    </div>
                    <div class="card-body">
                        <form (submit)="login(inputSubmit)">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control" [(ngModel)]="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Contraseña</label>
                                <input type="password" name="password" class="form-control d-inline" [(ngModel)]="password" #inputPassword required>
                                <i class="far fa-eye btn position-absolute ml-n5" (click)="showPassword($event, inputPassword)"></i>
                            </div>
                            <p *ngIf="showRegister">
                                ¿No tienes una cuenta aún? <a routerLink="/register">Regístrate aquí</a>.
                            </p>
                            <div class="form-group">
                                <input type="submit" value="Iniciar sesión" class="btn btn-primary btn-block" #inputSubmit>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>